{{/* Generate monitor grafana envs */}}
{{- define "grafana.envs" }}
env:
{{- if eq .Values.global.influxdbLocation "off-cluster" }}
- name: "INFLUXDB_URL"
  valueFrom:
    secretKeyRef:
      name: influxdb-creds
      key: url
{{- else }}
- name: "INFLUXDB_URL"
  value: http://$(DRYCC_INFLUXDB_SERVICE_HOST):$(DRYCC_INFLUXDB_SERVICE_PORT_TRANSPORT)
{{- end }}
- name: "INFLUXDB_BUCKET"
  valueFrom:
    secretKeyRef:
      name: influxdb-creds
      key: bucket
- name: "INFLUXDB_ORG"
  valueFrom:
    secretKeyRef:
      name: influxdb-creds
      key: org
- name: "INFLUXDB_TOKEN"
  valueFrom:
    secretKeyRef:
      name: influxdb-creds
      key: token
- name: "BIND_PORT"
  value: "3000"
{{- if not (.Values.grafana.environment.DEFAULT_USER) }}
- name: "DEFAULT_USER"
  value: {{ randAlphaNum 32 | b64enc }}
{{- end}}
{{- if not (.Values.grafana.environment.DEFAULT_USER_PASSWORD) }}
- name: "DEFAULT_USER_PASSWORD"
  value: {{ randAlphaNum 32 | b64enc }}
{{- end}}
- name: "KUBERNETES_CLUSTER_DOMAIN"
  value: {{.Values.global.clusterDomain}}
{{- range $key, $value := .Values.grafana.environment }}
- name: {{ $key }}
  value: {{ $value | quote }}
{{- end }}
- name: "DRYCC_GRAFANA_URL"
{{- if .Values.global.certManagerEnabled }}
  value: https://drycc-monitor-grafana.{{ .Values.global.platformDomain }}
{{- else }}
  value: http://drycc-monitor-grafana.{{ .Values.global.platformDomain }}
{{- end }}
- name: "DRYCC_PASSPORT_URL"
{{- if .Values.global.certManagerEnabled }}
  value: https://drycc-passport.{{ .Values.global.platformDomain }}
{{- else }}
  value: http://drycc-passport.{{ .Values.global.platformDomain }}
{{- end }}
- name: "SOCIAL_AUTH_DRYCC_AUTHORIZATION_URL"
  value: "$(DRYCC_PASSPORT_URL)/oauth/authorize/"
- name: "SOCIAL_AUTH_DRYCC_ACCESS_TOKEN_URL"
  value: "$(DRYCC_PASSPORT_URL)/oauth/token/"
- name: "SOCIAL_AUTH_DRYCC_ACCESS_API_URL"
  value: "$(DRYCC_PASSPORT_URL)"
- name: "SOCIAL_AUTH_DRYCC_USERINFO_URL"
  value: "$(DRYCC_PASSPORT_URL)/oauth/userinfo/"
- name: SOCIAL_AUTH_DRYCC_KEY
  valueFrom:
    secretKeyRef:
      name: passport-creds
      key: social-auth-drycc-grafana-key
- name: SOCIAL_AUTH_DRYCC_SECRET
  valueFrom:
    secretKeyRef:
      name: passport-creds
      key: social-auth-drycc-grafana-secret
{{- end }}
